body{
    text-align: center;
    color: rgb(59, 63, 53);
    background-color: rgb(234, 245, 196);
}
#input{

}

#check-btn{

    display: block;
    margin: auto;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
    border: transparent;
    background-color: rgb(199, 216, 137);
    color: rgb(59, 63, 53);
}